<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.35" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.1" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" />
  <package id="Microsoft.EntityFrameworkCore" version="5.0.17" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="5.0.17" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="5.0.17" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="5.0.17" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="5.0.17" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyModel" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" />
  <package id="SQLitePCLRaw.core" version="2.1.6" />
  <package id="System.Collections.Immutable" version="5.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.1" />
</packages>